
body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
  }
  
  .about-heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
    color: #C084FC;
    font-weight: 700;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 300px;
  }
  
  .about-section.reverse {
    flex-direction: row-reverse; 
  }
  
  .about-image,
  .about-text {
    height: 100%;
  }
  
  .about-image {
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  }
  
  .about-text {
    flex: 70%;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  }
  
  .about-text p {
    margin: 0;
  }
  
  .about-image img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  